<!DOCTYPE html>
<html>
<head>
    <title>Listado de Clientes</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Listado de Clientes</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'crear_cliente' %}">Agregar Cliente</a>
</body>
</html>
