<!DOCTYPE html>
{% extends 'base.html' %}

{% block titulo %}Título de la página de inicio{% endblock %}

{% block contenido %}

<html>
<head>
    <title>Listado de Productos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Listado de Productos</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>${{ producto.precio }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'crear_producto' %}">Agregar Producto</a>
</body>
</html>
{% endblock %}